{%extends "layout.html" %}
{% block content %}
 <div class="content-section" >
 	<div class="media">
 		<img class="rounded-circle account-img"  src="{{image_file}}">
 		<div class="media-body">
 			<h2 class="account-heading">{{current_user.username}}</h2>
 			<p class="text-secondary">{{current_user.email}}</p>
 			<p class="text-secondary">{{current_user.instituteId}}</p>
 			<p class="text-secondary">{{current_user.mobileNum}}</p>
 		</div>
 		<div>
            <a class="btn btn-secondary btn-sm m-1" href="{{url_for('update_account')}}"> Update credentials</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal"> Delete Account</button>
          </div>
 	</div>
 </div>
{% endblock %}