{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Enter app password to allow us to access your mail.</legend>
                <div class="form-group">
                    {{ form.app_password.label(class="form-control-label") }}
                    &nbsp; &nbsp; &nbsp;<a href="{{url_for('learn_more')}}"><span>Learn more</span></a>
                    {% if form.app_password.errors %}
                        {{ form.app_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.app_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.app_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </fieldset>
</form>
</div>

{% endblock content %}