
{% extends "layout.html"%}
{% block content %}
<h1> Tasks </h1>
  {% for task in tasks %}
  {%if current_user.id==task.user_id%}   
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <p class="mr-2 ">{{ task.date }}  | {{ task.starttime }}--{{task.endtime}} &nbsp;&nbsp;&nbsp;&nbsp;
            {%if task.status=='To-do' %} 
          <span class="text-black ml-3" style="color: blue"> {{task.status}} 
          </span>
          {%endif%}
          {%if task.status=='Failed'%}
          <span class="text-black ml-3" style="color: red"> {{task.status}} 
          </span>
          {%endif%}
          {%if task.status=='Running'%}
          <span class="text-black ml-3" style="color:  #666600"> {{task.status}} 
          </span>
          {%endif%}
          {%if task.status=='Completed'%}
          <span class="text-black ml-3" style="color: green"> {{task.status}} 
          </span>
          {%endif%}
        </p>
        </div>
        <h2><a class="article-title" href="{{url_for('task',task_id=task.id)}}">{{ task.title }}</a></h2>
        <p class="article-content">{{ task.details }}</p>
      </div>
    </article>
  {%endif%}
  {% endfor %}
</div>
<div class="col-md-4" style="margin-top: 50px">
<div class="content-section">
        <form method="POST" action="">
            {{ form1.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Search</legend>
        <div class="form-group">
                    {{ form1.search.label(class="form-control-label") }}

                    {% if form1.search.errors %}
                        {{ form1.search(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form1.search(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <div class="form-group">
                {{ form1.submit(class="btn btn-outline-info") }}
            </div>
              </fieldset>
            </form>
          </div>
          <div class="article-title" ><button type="button" class="btn btn-primary btn-lg btn-block"  data-toggle="collapse" data-target="#collapse1">Analyse Activity</button>
            <div class="collapse" id="collapse1"> 
              <button type="button" class="btn btn-secondary btn-lg btn-block" data-toggle="collapse" data-target="#collapse2" id="parent1">View Pie chart for daily stats</button>
           <form id="collapse2" data-parent="#parent1" method="POST" action="">
            {{ form2.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Select Date</legend>
        <div class="form-group">
                   

                    {% if form2.date.errors %}
                        {{ form2.date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.search.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form2.date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                 <span class="form-group">
                {{ form2.submit(class="btn btn-light") }}
            </span>
              </fieldset>
            </form>
              <a href="/linechart" style="text-decoration: none;">  <button type="button" class="btn btn-secondary btn-lg btn-block">View graph for overall stats</button>
            
        </div>

{% endblock content%}