{%extends "layout.html"%}
{%block content%}
<div class="content-section"style="background-color: white;">

	<h3 >	• What is an App password?</h3>
	<p class="article-content" style="padding-left:15px;">
	In order to allow Durango to access your mail securely, you need to generate an app password from your mail account. Following tutorial show how to generate one on gmail.
	</p>
	<hr style="width:100%;text-align:left;margin-left:0; font-weight: bold; color: #8B4513;">
	  <h3>	• How to create & use App Passwords from your Google account?</h3>
	  
<ol class="article-content">
	<li>Go to your<b> Google Account</b>.</li>
	<div class="fill" >
	<img src="{{url_for('static',filename='images/im1.jpg')}}" alt="im1" >
	</div>
	<li>On the left navigation panel, choose <b>Security</b>.</li>
	<div class="fill" >
	<img src="{{url_for('static',filename='images/im2.jpg')}}" alt="im2">
	</div>
	<li>On the<b> "Signing in to Google" </b>panel, choose <b>App Passwords</b>. If you don’t see this option:</li>
		<ul>
			<li>2-Step Verification is not set up for your account.</li>
			<li>2-Step Verification is set up for security keys only.</li>
			<li>Your account is through work, school, or other organization.</li>
			<li>You’ve turned on Advanced Protection for your account.</li>
		</ul>
	<div class="fill">
	<img src="{{url_for('static',filename='images/im3.jpg')}}" alt="im3">
	</div>
	<li>At the bottom, choose<b> Select app</b> and choose the app you’re using.</li>
	<li>Choose <b>Generate</b>.</li>
	<div class="fill">
	<img src="{{url_for('static',filename='images/im4.jpg')}}" alt="im4" >
	</div>
	<li>Follow the instructions to enter the App Password. The App Password is the 16-character code in the yellow bar on your device.</li>
	<li>Choose <b>Done</b>.</li>
	</ol>
You’ll only have to enter an App Password once per app or device, so don’t worry about memorizing it.

<br><br>
<h3>• Managing App-Specific Passwords</h3>

	<div class="fill" >
	<img src="{{url_for('static',filename='images/im5.jpg')}}" alt="im5" >
	</div>
	<p class="article-content">The value of an application-specific password is that you can revoke and regenerate a password on a service-by-service basis instead of having to change the master password to your account.  You are free to generate as many app-specific passwords as you like.</p>
	</p>
<hr style="width:100%;text-align:left;margin-left:0; font-weight: bold; color: #8B4513;"><s></s>
 </div>


{%endblock%}