{%extends "layout.html"%}
{%block content%}
  <!--<head>
}
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"   integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s="  crossorigin="anonymous"></script>
  </head>-->
  <style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #000000;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
  <body>
  	<div>
  	<h2>Total activities:{{total}}</h2>

<table>
  <tr>
    <th>Status</th>
    <th >Number</th>
  </tr>
  <tr>
    <td>To-do</td>
    <td>{{to}}</td>
  </tr>
  <tr>
    <td>Running</td>
    <td>{{ru}}</td>
  </tr>
  <tr>
    <td>Completed</td>
    <td>{{co}}</td>
  <tr>
    <td>Failed</td>
    <td>{{fa}}</td>
  </tr>
</table>
      <br>
  </div>
  	<div class="ct-chart ct-perfect-fourth" style="background: white;">

  <script>

  	var getdata=$.get('/data');
  	getdata.done(function(results){
		var data = {
	  			// A labels array that can contain any sort of values
			  labels: ['To-do', 'Completed', 'Running', 'Failed'],
			  // Our series array that contains series objects or in this case series data arrays
			  series: [
			    results.results
			  ]
		};
		var responsiveOptions = [
  ['screen and (min-width: 641px) and (max-width: 1024px)', {
    showPoint: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        // Will return Mon, Tue, Wed etc. on medium screens
        return value.slice(0, 3);
      }
    }
  }],
  ['screen and (max-width: 640px)', {
    showLine: false,
    axisX: {
      labelInterpolationFnc: function(value) {
        // Will return M, T, W etc. on small screens
        return value[0];
      }
    }
  }]
];

		// Create a new line chart object where as first parameter we pass in a selector
		// that is resolving to our chart container element. The Second parameter
		// is the actual data object.
		var lineChart=new Chartist.Line('.ct-chart', data,responsiveOptions);
});
  </script>
</div>

    </body>
{%endblock%}