{% extends "layout.html" %}
{% block content %}
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('.collapse1').click(function(event) {
  	$(this).next().is(":visible") ? $(this).text("Show mail body") : $(this).text("Hide mail body");
    $(this).next('.article-content').toggle('show');
  });
});

</script>
<script>
/*$(document).ready(function() {
	$('.removeButton').on('click',function(){

		var message_id=$(this).attr('message_id');
		req=$.ajax({
			url:'/mail_task_remove/'+message_id,
			type: 'POST',
			data:{message_id:message_id}
		});
		$('#mail'+message_id).fadeOut(1000).fadeIn(1000);
	});
});*/
</script>
</head>
<body>
<h1> Tasks waiting to be added</h1>
	{%for msg in msgs%}
	<article class="media content-section">
      <div class="media-body" id="mail{{msg[4]}}">
        <div class="article-metadata">
          <p class="mr-2 ">{{msg[0]}}  
          </p>
          <p class="mr-2 ">{{msg[1]}}  
          </p>
          <span>
            <a class="btn btn-outline-info" href="{{url_for('mail_task_add',message_id=msg[4],subject=msg[2])}}"> Add to tasks</a>
          </span>
        </div>
        <h2 class="article-title" >Subject: {{msg[2]}}</h2>
        <div>
       <!-- <div data-toggle="collapse" data-target="#collapse1" class=body> B</div>-->	
       <div class="collapse1" style="display: inline; cursor: pointer;"><u>Show mail body</u></div>

        <p class="article-content" style="display: none;"> 
        	
        {{ msg[3] }}</p>	

      	</div>	
      </div>
    </article>
    {%endfor%}
</body>
{%endblock%}