<!-- Styles -->
{% extends "layout.html" %}
{% block content %}
<style>
#chartdiv {
  width: 100%;
  height: 500px;
}

</style>

<!-- Resources -->
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
{% block javascript %}
<!-- Chart code -->
<script>
am4core.ready(function() {

// Themes begin
am4core.useTheme(am4themes_animated);
// Themes end

var chart = am4core.create("chartdiv", am4charts.PieChart3D);
chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

chart.legend = new am4charts.Legend();
values = JSON.parse({{ values | tojson }})
chart.data = [
  {
    taskstatus: "To-do",
    number: values[0] 
  },
  {
    taskstatus: "Running",
    number: values[1]
  },
  {
    taskstatus: "Completed",
    number: values[2]
  },
  {
    taskstatus: "Failed",
    number: values[3]
  }
];

var series = chart.series.push(new am4charts.PieSeries3D());
series.dataFields.value = "number";
series.dataFields.category = "taskstatus";

}); // end am4core.ready()
</script>
{%endblock%}
<!-- HTML -->
<div id="chartdiv"></div>
{%endblock%}